:root{
    --fst-wd : 600px;
    --fst-h: calc(var(--fst-wd) * 0.625)
}

.container-main-fst{
    width: 100%;
    max-width: var(--fst-wd);
    height: var(--fst-h);
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}.main-fst-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Gothic A1", sans-serif;
    font-weight: thin;
    font-style: normal;
    margin-bottom: 70px;
    
}.main-fst-title>span{
    font-size: 2.5rem;
    font-weight: 100;
}
.main-fst-content{
    display: flex;
    flex-direction: column;
    font-family: monospace;
    align-items: center;
    gap: 3rem;
}.container-main-fst>div{
    line-height:1.5rem;
}.hello-img{
    width: 96px;
}