.container-nav{
    width: 100vw;
    height:92px;
    background-color: rgb(31, 43, 53);
    display: flex;
    color: rgb(243, 240, 235);
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    position: fixed;
}.frame-nav{
    width: 100%;
    padding:0rem 1rem 0rem 1rem;
    max-width: 1260px;
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
}.nav-right{

}.nav-center{

}.nav-center>ul{
    list-style: none;
    display: flex;
    gap:2rem;
}
.nav-left{

}
.frame-mode{
    width: 2rem;
    height: 2rem;
    position: relative;
    user-select: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.mode-img{
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}.mode-img-click{
    /* background-color: aliceblue; */
    cursor: pointer;
}.darkmode{
    
}.lightmode{

}.nav-list{
    user-select: none;
    cursor: pointer;
    transition: 0.3s all;
}.nav-list:hover{
    font-size: 1rem;
    opacity: 0.5;
}