.frame-edit{
    display: grid;
    grid-template-columns: auto 720px auto;
    margin-top: 202.5px;
    width: 100%;
    height:100%;
}
.title-edit{
    width: 100%;
    padding-left: 30px;
    font-size: 2rem;
    font-weight: bold;
    outline: none;
    background-color: transparent;
    overflow-wrap: break-word; 
    resize: none;
    overflow-y: hidden;
    letter-spacing: -1px;
    margin-bottom: 6px;
}.option-button{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    color: rgb(161, 161, 161);
    cursor: pointer;
}.option-button>span{
    margin-top: 5px;
    font-size: 1.2rem;
    user-select: none;
}
/* .edit-textarea-title{

} */
.edit-mirror-title{
    background-color: black;
}.frame-memos{
    width: 100%;
    max-width: 720px;
    /* background-color: antiquewhite; */
    margin-left: auto;
    margin-right: auto;
}
.memo{
    display: grid;
    grid-template-columns: 30px auto 30px;
    min-height: 30px;
    align-items: center;
}
.memo>div{
    width: 100%;
    height: 100%;
}
.memo>textarea{
    background-color: transparent;
    box-sizing: border-box;
    width: 100%;
    resize: none;
    outline: none;
    overflow-y: hidden;
    font-size: 1.0rem;
    height: auto;
    text-align: start;
    vertical-align: middle;
    padding-top: 6px;
    padding-bottom: 6px;
    letter-spacing: -1px;
}.insert-url{
    box-sizing: border-box;
    width: 100%;
    height: 28px;
    outline: none;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 720px;
    overflow: hidden;
    display: none;
    /* background-color: antiquewhite; */
}.insert-url-input{
    width: 100%;
    height: 100%;
    outline: none;
    background-color: rgba(131, 131, 131, 0.205);
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.9rem;
    color: gray;
    border-radius: 2px;
}