.insert-url{
    box-sizing: border-box;
    width: 100%;
    height: 28px;
    outline: none;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 720px;
    overflow: hidden;
    display: none;
    /* background-color: antiquewhite; */
}.insert-url-input{
    width: 100%;
    height: 100%;
    outline: none;
    background-color: rgba(131, 131, 131, 0.205);
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.9rem;
    color: gray;
    border-radius: 2px;
}